# Auth secret needed for Auth. If you need one, go to: https://generate-secret.vercel.app/32
AUTH_SECRET=
# Database URL
DATABASE_URL=

# Email config
EMAIL_HOST=smtp.domain.com
EMAIL_PORT=465
EMAIL_USER=user@example.es
EMAIL_PASSWORD=mailpassword #put here your app token
EMAIL_FROM=user@example.es
EMAIL_FROM_NAME="Example Name Company"